/*-- scss:defaults --*/
// quarto-scss-analysis-annotation { "origin": "cosmo (builtin theme)" }

$theme: "cosmo" !default;

//
// Color system
//

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #373a3c !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$blue:    #2780e3 !default;
$indigo:  #6610f2 !default;
$purple:  #613d7c !default;
$pink:    #e83e8c !default;
$red:     #ff0039 !default;
$orange:  #f0ad4e !default;
$yellow:  #ff7518 !default;
$green:   #3fb618 !default;
$teal:    #20c997 !default;
$cyan:    #9954bb !default;
$alt-primary: #4051b5 !default;

$primary:       $alt-primary !default;
$secondary:     $gray-800 !default;
$success:       $green !default;
$info:          $blue !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-800 !default;

$min-contrast-ratio:   2.6 !default;

// Base document colors
$body-bg: #181818;
$body-color: #ccc;
$link-color: #75aadb;

$light: #525252;

// Navigation element colors
$navbar-bg: $primary;

// Code blocks
$code-block-bg-alpha: -0.9;

// Bootstrap popovers
$popover-bg: #242424;

// Bootstrap inputs
$input-bg: #242424;
$dropdown-bg: $body-bg;
$dropdown-color: $body-color;
$dropdown-link-color: $body-color;
// $dropdown-link-hover-bg: $gray-600;
$dropdown-link-hover-color: #eee;

// $border-color: rgba($gray-800, 0.5);

$mono-background-color: rgba(0, 0, 0, 0);
$code-color: rgb(192, 128, 216);
$nav-tabs-link-active-color: $body-color;

// Options

$enable-rounded: false !default;

// Body

$body-color:    $gray-800 !default;

// Fonts

// stylelint-disable-next-line value-keyword-case
$font-family-sans-serif:    "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$headings-font-weight:      400 !default;

// Navbar

$navbar-dark-hover-color:       rgba($white, 1) !default;
$navbar-light-hover-color:      rgba($black, .9) !default;

// Alerts

$alert-border-width:            0 !default;

// Progress bars

$progress-height:               .5rem !default;



/*-- scss:rules --*/


// Variables

$web-font-path: "https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&display=swap" !default;
@if $web-font-path {
  @import url($web-font-path);
}

// Typography

body {
  -webkit-font-smoothing: antialiased;
}

// Indicators

.badge {
  &.bg-light {
    color: $dark;
  }
}

// Progress bars

.progress {
  @include box-shadow(none);

  .progress-bar {
    font-size: 8px;
    line-height: 8px;
  }
}


// quarto-scss-analysis-annotation { "origin": null }

// Stuff

$md-hue: 225deg;

$md-typeset-a-color: #5488e8;
$doc-symbol-parameter-fg-color: #ffa8cc;
$doc-symbol-type_parameter-fg-color: #ffa8cc;
$doc-symbol-attribute-fg-color: #ffa657;
$doc-symbol-function-fg-color: #d2a8ff;
$doc-symbol-method-fg-color: #d2a8ff;
$doc-symbol-class-fg-color: #79c0ff;
$doc-symbol-type_alias-fg-color: #79c0ff;
$doc-symbol-module-fg-color: #baff79;
$doc-symbol-parameter-bg-color: #ffa8cc1a;
$doc-symbol-type_parameter-bg-color: #ffa8cc1a;
$doc-symbol-attribute-bg-color: #ffa6571a;
$doc-symbol-function-bg-color: #d2a8ff1a;
$doc-symbol-method-bg-color: #d2a8ff1a;
$doc-symbol-class-bg-color: #79c0ff1a;
$doc-symbol-type_alias-bg-color: #79c0ff1a;
$doc-symbol-module-bg-color: #baff791a;

$md-primary-fg-color: #4051b5;
$md-primary-fg-color--light: #5d6cc0;
$md-primary-fg-color--dark: #303fa1;
$md-primary-bg-color: #fff;
$md-primary-bg-color--light: #ffffffb3;

$md-accent-fg-color: #526cfe;
$md-accent-fg-color--transparent: #526cfe1a;
$md-accent-bg-color: #fff;
$md-accent-bg-color--light: #ffffffb3;

$md-default-fg-color: hsla($md-hue,15%,90%,0.82);
$md-default-fg-color--light: hsla($md-hue,15%,90%,0.56);
$md-default-fg-color--lighter: hsla($md-hue,15%,90%,0.32);
$md-default-fg-color--lightest: hsla($md-hue,15%,90%,0.12);
$md-default-bg-color: hsla($md-hue,15%,14%,1);
$md-default-bg-color--light: hsla($md-hue,15%,14%,0.54);
$md-default-bg-color--lighter: hsla($md-hue,15%,14%,0.26);
$md-default-bg-color--lightest: hsla($md-hue,15%,14%,0.07);
$md-code-fg-color: hsla($md-hue,18%,86%,0.82);
$md-code-bg-color: hsla($md-hue,15%,18%,1);
$md-code-bg-color--light: hsla($md-hue,15%,18%,0.9);
$md-code-bg-color--lighter: hsla($md-hue,15%,18%,0.54);
$md-code-hl-color: #2977ff;
$md-code-hl-color--light: #2977ff1a;
$md-code-hl-number-color: #e6695b;
$md-code-hl-special-color: #f06090;
$md-code-hl-function-color: #c973d9;
$md-code-hl-constant-color: #9383e2;
$md-code-hl-keyword-color: #6791e0;
$md-code-hl-string-color: #2fb170;
$md-code-hl-name-color: $md-code-fg-color;
$md-code-hl-operator-color: $md-default-fg-color--light;
$md-code-hl-punctuation-color: $md-default-fg-color--light;
$md-code-hl-comment-color: $md-default-fg-color--light;
$md-code-hl-generic-color: $md-default-fg-color--light;
$md-code-hl-variable-color: $md-default-fg-color--light;
$md-typeset-color: $md-default-fg-color;
$md-typeset-a-color: $md-primary-fg-color;
$md-typeset-kbd-color: hsla($md-hue,15%,90%,0.12);
$md-typeset-kbd-accent-color: hsla($md-hue,15%,90%,0.2);
$md-typeset-kbd-border-color: hsla($md-hue,15%,14%,1);
$md-typeset-mark-color: #4287ff4d;
$md-typeset-table-color: hsla($md-hue,15%,95%,0.12);
$md-typeset-table-color--light: hsla($md-hue,15%,95%,0.035);
$md-admonition-fg-color: $md-default-fg-color;
$md-admonition-bg-color: $md-default-bg-color;
$md-footer-bg-color: hsla($md-hue,15%,10%,0.87);
$md-footer-bg-color--dark: hsla($md-hue,15%,8%,1);
$md-shadow-z1: 0 0.2rem 0.5rem #0000000d,0 0 0.05rem #0000001a;
$md-shadow-z2: 0 0.2rem 0.5rem #00000040,0 0 0.05rem #00000040;
$md-shadow-z3: 0 0.2rem 0.5rem #0006,0 0 0.05rem #00000059;
$color-scheme: dark;

