


#title-block-header {
  display: none;
}

.content-block {
  margin-left: 30px;
  margin-right: 30px;
  overflow-x: hidden;
}

@media(min-width: 900px) {
  .content-block {
    margin-left: 50px;
    margin-right: 50px;
  }
}

@media(min-width: 1200px) {
  .content-block {
    margin-left: auto;
    margin-right: auto;
  }
}

.hero-banner {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-banner h1 {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #4051b5;
  font-size: 38px;
  max-width: 90%;
}

.hero-banner h2 {
  border: none;
  margin-top: 10px;
  margin-bottom: 10px;
}

.hero-banner h3 {
  max-width: 90%;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.hero-banner img {
  margin-top: 10px;
  margin-bottom: 10px;
}


.btn-action-primary {
  color: #4051b5;
  background: #4051b5;
  font-weight: 700;
  line-height: 20px; /* identical to box height */
}

.btn-action-primary:hover, .btn-action-primary:active, .btn-action-primary:focus {
  background: #4051b5;
}

.btn-action {
  min-width: 165px;
  border-radius: 8px;
  padding: 20px 48px;
  border: none;
}

/* Below are needed to make .ipynb equivalent to .qmd */

.figure {
  display: inline;
}

.quarto-figure {
  margin: 0;
}